.todo-list {
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  background-color: #E2E4E6;
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  width: 290px;
  color: #333;
}

.todo-list .list-header {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.todo-list .list-header .button-left {
  border: none;
  background: none;
  font-size: 1.5rem;
}

.todo-list .list-header .button-left:not([disabled]):hover {
  background-color: #ccc;
}

.todo-list .list-header h2 {
  font-size: 1rem;
  font-weight: normal;
  margin: 2px 0 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5rem;
}

.todo-list .list-body .list-item {
  margin: 0 0 5px;
  padding: 5px;
  background-color: #fff;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  white-space: normal;
  font-size: 0.9rem;
}

.todo-list .list-body .list-item:hover {
  background-color: #EDEFF0;
}

.todo-list .list-body .list-item .checkbox {
  width: 100%;
  display: block;
  vertical-align: middle;
}

.todo-list .list-body .list-item .checkbox input[type=checkbox] {
  margin-right: 7px;
}

.new-item-form {
  display: flex;
  flex-direction: row;
}

.new-item-form input[type=text] {
  display: block;
  width: 85%;
  padding: 5px;
}

.new-item-form button {
  display: block;
  padding: 5px;
  width: 15%;
}
