<!DOCTYPE html>
<html> <!-- TODO: manifest="todo-app.appcache" -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msapplication-TileImage" content="tile-144.png">
  <meta name="msapplication-TileColor" content="#2FA8CD">
  <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Handlelisten</title>
</head>

<body ng-app="todoApp">

<div ng-controller="ListCtrl as list">
  <header>
    <div class="buttons">
      <button ng-click="list.removeSelected()">Delete selected</button>
    </div>
    <h1 class="title">Handlelisten</h1>
  </header>
  <form novalidate ng-submit="list.addItem()" class="item item-input">
    <input type="text" placeholder="..." ng-model="list.newItem.content" maxlength="127" required>
    <button type="submit">Add</button>
  </form>
  <div class="list">
    <div class="loading" ng-if="list.loading">Loading...</div>
    <div class="item" ng-repeat="item in list.items">
      <label class="checkbox">
        <input type="checkbox" ng-model="item.checked" ng-change="list.storeItems()">
      </label>
      {{ item.content }}
    </div>
  </div>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

</body>
</html>
