<div class="list-header">
  <button
      class="button-left ion-trash-a"
      ng-disabled="!todoList.hasCheckedItems()"
      ng-click="todoList.removeSelected()"
      title="Remove selected items in this list"
  ></button>
  <h2 class="title">{{ todoList.list.name }}</h2>
</div>

<div class="list-body">
  <div ng-repeat="item in todoList.list.items" class="list-item">
    <label class="checkbox">
      <input type="checkbox" ng-model="item.checked" ng-change="todoList.propagateChange()">
      {{ item.content }}
    </label>
  </div>
  <form class="new-item-form" ng-submit="todoList.addItem()">
    <input
        type="text"
        class="new-item-content"
        placeholder="Add a new item..."
        ng-model="todoList.newItem.content"
        required
    >
    <button type="submit">Add</button>
  </form>
</div>
